#####################################
## Exclude dzil build dir and file
/Task-BeLike-JAHERO*.*
#####################################
nytprof.out
nytprof/
cover_db/
#####################################
*.bak
*.old
*~
*.swp
*.o
*.obj
*.pdb
#####################################
